.slick-track {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1071px) {
  .slick-prev:before,
  .slick-next:before {
    color: grey !important;
  }

  .slick-arrow {
    color: grey !important;

    &:hover {
      color: grey !important;
    }
  }
}

@media only screen and (max-width: 768px) {
  .galleryContent {
    padding: 0 10%;
  }

  .mobileReviewCard {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
