html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
}

.navbar .menu {
  height: 60px !important;
}

.ui.secondary.menu {
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('../public/feelgood.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('../public/yogaservices.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
  margin: auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  border: 3px solid #73ad21;
  justify-content: space-between;
  padding: 10px;
}

.text-box {
  width: 75%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.about {
  text-align: center;
}

.commonWidth {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.about-cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.about-rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutItem {
  padding: 15px;
  width: 100%;
}

.footer-width {
  width: 90%;
  margin: auto;
  margin-top: 50px !important;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 90%;
  padding: 20px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

footer .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  border-color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #eb2f06;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #2e446e;
  padding-top: 70px;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #fff;
}

.heading > p {
  font-weight: 300;
  font-size: 1.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
}

.gallery-item {
  height: 90% !important;
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */

  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100% !important;
  height: 100% !important;
  transition: transform 400ms ease-out !important;
}

.gallery-image:hover {
  transform: scale(1.15) !important;
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}
