html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.navButtonsImage > span {
  margin-left: 13px !important;
}
.navButtons {
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
}
.navButtons:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.customNav {
  display: flex;
  flex-wrap: wrap !important;
}

.customNavUl {
  z-index: 9999 !important;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 !important;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap !important;
  align-items: center;
  margin-top: 0;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
  height: 65px;
}

.ui.visible.left.overlay.sidebar {
  margin-top: 65px !important;
}

.ui.left.overlay.sidebar {
  margin-top: 65px !important;
}

.mobile-center-testimonials {
  margin: auto;
  max-width: 900px !important;
  padding: 20px;
}

.mobile-center {
  margin: auto;
  max-width: 900px !important;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}
@media screen and (max-width: 550px) {
  .navButtons {
    display: none;
  }
  .jhi {
    margin-left: auto !important;
    margin-right: 20px;
  }
}

@media screen and (max-width: 750px) {
  .mobile-center {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .mobile-center-testimonials {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
}

@media screen and (max-width: 1006px) {
  .mobile-center {
    max-width: 700px !important;
  }
  .mobile-center-testimonials {
    max-width: 700px !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: white;
}

.navbar .menu {
  height: 60px !important;
}

.services-container {
  padding: 18px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.ui.secondary.menu {
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('../public/feelgood.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.services {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url('../public/yogaservices.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.center {
  margin: auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
  border: 3px solid #73ad21;
  justify-content: space-between;
  padding: 10px;
}

.text-box {
  width: 75%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

.about {
  text-align: center;
}

.commonWidth {
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

.about-cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  padding: 20px;
  box-shadow: 0 4px 20px 0 rgb(23 55 83 / 15%) !important;
}

.about-rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutItem {
  padding: 15px;
  width: 100%;
}

.footer-width {
  width: 90%;
  margin: auto;
  margin-top: 50px !important;
}

.footer-add-remove {
  position: absolute;
  bottom: 0;
  height: 5.5rem;
}

.media-icons-add-remove {
  margin-bottom: 30px;
}

.footer-add-remove {
  position: absolute;
  bottom: 0;
  height: 5.5rem;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  width: 90%;
  padding: 20px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex: 1 100%;
}

.media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.media-icons a:hover {
  border-color: #eb2f06 !important;
}

footer a {
  transition: all 0.3s ease;
}
footer a:hover {
  color: #eb2f06;
}
.container2 a:hover {
  color: #eb2f06;
}
.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  /* font-family: 'Pacifico', cursive; */
  font-weight: 400;
  font-size: 1.5rem;
  color: #4183c4;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 10px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 5px;
  color: #4183c4;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }

  .nav__item--extra {
    flex-grow: 2;
  }

  .footer__addr {
    flex: 1 0px;
  }

  .footer__nav {
    flex: 2 0px;
  }
}

.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 20px;
  background-color: #2e446e;
  padding-top: 70px;
}

.heading {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #fff;
}

.heading > p {
  font-weight: 300;
  font-size: 1.5rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
}

.gallery-item {
  height: 90% !important;
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */

  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100% !important;
  height: 100% !important;
  transition: transform 400ms ease-out !important;
}

.gallery-image:hover {
  transform: scale(1.15) !important;
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling. 

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}

.container2 {
  margin: auto;
  width: 90%;
  padding-top: 110px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 55px;
  text-align: center;
  font-size: 16px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
